<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/admin/admin-form.css">
    <link rel="stylesheet" href="../../public/css/utility.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Verification Detail Page</title>
</head>
<body>
    <div id="container" class="row">
        <aside id="sidebar" class="col">
            <h1>Title</h1>
            <h2>Subtitle</h2>
            <ul class="col">
                <a href="">
                    <li>Verifikasi Pelatihan</li>
                </a>
                <a href="">
                    <li id="log-out">Log Out</li>
                </a>
            </ul>
        </aside>
        <main id="main-content" class="row justify-center">
            <form action="" id="training-form" class="col">
                <div class="col" id="container">
                    <h1>Upload Pelatihan</h1>

                    <div class="row allign-center">
                        <label for="">Status</label>
                        <input type="text" name="" id="" disabled value="Aktif">
                    </div>

                    <div class="row">
                        <label for="">Waktu Pendaftaran</label>
                        <input type="date" name="" id="">
                        <p>s/d</p>
                        <input type="date" name="" id="">
                    </div>

                    <div class="row">
                        <label for="">Waktu Pelatihan</label>
                        <input type="date" name="" id="">
                        <p>s/d</p>
                        <input type="date" name="" id="">
                    </div>

                    <div class="row">
                        <label for="">Nama Pelatihan</label>
                        <input type="text" name="" id="">
                    </div>

                    <div class="row">
                        <label for="">Kuota</label>
                        <input type="number" name="" id="">
                        <p>peserta</p>
                    </div>

                    <div class="row">
                        <label for="">Tempat Penyelenggaraan</label>
                        <input type="text" name="" id="">
                    </div>

                    <div class="row">
                        <label for="">Narahubung</label>
                        <input type="text" name="" id="">
                    </div>

                    <div class="row">
                        <label for="">Deskripsi Pelatihan</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>

                    <div class="col">
                        <h2>Berkas Pendukung (Upload)</h2>
                        <div class="row">
                            <label for="">Dokumen 1</label>
                            <input type="text">
                        </div>
                        <div class="row">
                            <label for="">Dokumen 2</label>
                            <input type="text">
                        </div>
                        <div class="row">
                            <label for="">Dokumen 3</label>
                            <input type="text">
                        </div>
                        <div class="row">
                            <label for="">Dokumen 4</label>
                            <input type="text">
                        </div>
                        <div class="row">
                            <label for="">Dokumen 5</label>
                            <input type="text">
                        </div>
                    </div>

                    <div class="col">
                        <h2>Berkas Pendukung (Download)</h2>
                        <div class="row">
                            <label for="">Dokumen 1</label>
                            <select name="" id="">
                                <option value="">Test</option>
                            </select>
                        </div>
                        <div class="row">
                            <label for="">Dokumen 2</label>
                            <select name="" id="">
                                <option value="">Test</option>
                            </select>
                        </div>
                        <div class="row">
                            <label for="">Dokumen 3</label>
                            <input type="text">
                            <input type="file" name="" id="">
                        </div>
                        <div class="row">
                            <label for="">Dokumen 4</label>
                            <input type="text">
                            <input type="file" name="" id="">
                        </div>
                    </div>
                </div>
                <div class="row flex-end">
                    <button type="submit">Upload</button>
                </div>

            </form>
        </main>
    </div>
</body>
</html>