<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/utility.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <div id="logo">
            <img src="/assets/navbar-logo.png" alt="" height="68px" width="68px">
            <h1>MILEA</h1>
        </div>
        <ul id="pages">
            <li>
                <a href="" class="selected">Beranda</a>
            </li>
            <li>
                <a href="">Daftar Kegiatan</a>
            </li>
        </ul>
        <img src="/assets/navbar-toggle-white.png" alt="" id="toogle-white" width="50px" height="50px" class="dropdown-toggle">
        <img src="/assets/navbar-toggle-black.png" alt="" id="toogle-black" width="50px" height="50px" class="dropdown-toggle">
        <ul id="dropdown">
            <img id="addition" src="/assets/dropdown-addition.png" alt="">
            <a href="">
                <img src="/assets/navbar-profile.png" alt="" width="19px" height="19px">
                <li>Profil</li>
            </a>
            <a href="">
                <img src="/assets/navbar-history.png" alt="" width="19px" height="19px">
                <li>Riwayat</li>
            </a>
            <a href="">
                <img src="/assets/navbar-signout.png" alt="" width="19px" height="19px">
                <li>Keluar</li>
            </a>
        </ul>
    </nav>
    <script src="/js/utility.js"></script>
</body>
</html>