<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/admin/verification-detail.css">
    <link rel="stylesheet" href="../../public/css/utility.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Verification Detail Page</title>
</head>
<body>
    <div class="row">
        <aside id="sidebar" class="col">
            <h1>Title</h1>
            <h2>Subtitle</h2>
            <ul class="col">
                <a href="">
                    <li>Verifikasi Pelatihan</li>
                </a>
                <a href="">
                    <li id="log-out">Log Out</li>
                </a>
            </ul>
        </aside>
        <div id="container">
            <div class="row justify-center" id="group">
                <div class="col" id="left">
                    <div class="row" id="profile-card">
                        <img src="../../public/assets/wireframe-photo.png" alt="">
                        <div class="col">
                            <h1>Nama</h1>
                            <h2>NIM</h2>
                            <h3>Jabatan</h3>
                        </div>
                    </div>
                    <div class="col" id="document">
                        <h2>Kelengkapan Dokumen</h2>
                        <ul>
                            <li class="row">
                                <p>Ijazah Terakhir</p>
                                <a href="">Lihat</a>
                            </li>
                            <li class="row">
                                <p>Surat Tugas</p>
                                <a href="">Lihat</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col" id="right">
                    <form action="" id="form-pengajuan">
                        <h1>Detail Pengaju</h1>
                        <ul>
                            <li class="row">
                                <h3>Nama Field</h3>
                                <p>Nilai</p>
                            </li>
                            <li class="row">
                                <h3>Nama Field</h3>
                                <p>Nilai</p>
                            </li>
                            <li class="row">
                                <h3>Nama Field</h3>
                                <p>Nilai</p>
                            </li>
                            <li class="row">
                                <h3>Nama Field</h3>
                                <p>Nilai</p>
                            </li>
                            <li class="row">
                                <h3>Nama Field</h3>
                                <p>Nilai</p>
                            </li>
                            <li class="row">
                                <h3>Nama Field</h3>
                                <p>Nilai</p>
                            </li>
                            <li class="row">
                                <h3>Keterangan</h3>
                                <select name="" id="keterangan">
                                    <option value="">Terima</option>
                                    <option value="">Tolak</option>
                                </select>
                            </li>
                            <li class="row">
                                <h3>Pesan</h3>
                                <textarea name="" id="" cols="1" rows="1" placeholder="Masukan Pesan Jika Perlu ..."></textarea>
                            </li>
                        </ul>
                        <div class="row">
                            <button type="submit">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>