body {
    font-family: "Montserrat", sans-serif;
    background-color: #f9f9f9 !important;
}

.pertama {
    height: 400px;
}
.kedua {
    margin-top: -80px;
    height: 415px;
}
.ketiga {
    margin-top: 40px;
}
.kiri {
    height: 250px;
}
.kanan {
    height: 250px;
}
table {
    border: 0px solid #000000;
    border-radius: 30px !important;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.1);
}
th {
    background-color: #11543c;
    color: white;
}
thead th:first-child {
    border-top-left-radius: 30px;
}
thead th:last-child {
    border-top-right-radius: 30px;
}
.btn {
    float: right !important;
    width: 250px;
    height: 50px;
}
.btn:hover {
    background-color: #11543c;
    color: white !important;
}
a:link {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    color: inherit;
}
footer {
    margin-top: 100px;
}
footer {
    color: white;
    padding: 50px 70px;
    padding-bottom: 0;
    background-color: #11543cda;
}

footer .col {
    width: 100%;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 20px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer #navigasi {
    box-sizing: border-box;
    margin: 0 100px;
    padding: 0 100px;
    border-left: 2px solid;
    border-right: 2px solid;
}

footer h3 {
    margin-bottom: 20px;
}

footer .row .col p {
    text-align: justify;
    color: white;
}

footer #icons {
    padding: 16px 10px;
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

footer #icons a {
    margin-right: 15px;
}

footer #hubungi-kami li {
    display: flex;
    align-items: center;
}

footer #hubungi-kami li img {
    margin-right: 20px;
}
@media screen and (max-width: 990px) {
    .pertama {
        margin-top: -20px;
    }
    .kedua {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .keempat .container {
        margin-top: 80px;
    }
    .ketiga .kiri .table th {
        font-size: 15px !important;
    }
    .ketiga .kanan .table th {
        font-size: 15px !important;
    }
    #unduhan {
        font-size: 15px !important;
        margin-left: 30px;
        margin-top: -10px;
    }
    #unggahan {
        font-size: 15px !important;
        margin-left: 30px;
        margin-top: -10px;
    }
    .kelima {
        margin-top: -20px !important;
    }
    footer #footer-container {
        flex-direction: column !important;
    }

    footer #navigasi {
        padding: 30px 0;
        margin: 0 !important;
        border: none;
    }
}
@media screen and (max-width: 767px) {
    .pertama {
        margin-top: -90px;
    }
    .container .pertama .container .table td {
        font-size: 15px !important;
    }
    .kedua {
        margin-bottom: 20px;
    }
    .kedua .container .table td {
        font-size: 15px;
        padding: 9px 30px;
    }
    .kedua .container .table .tb-kiri {
        max-width: 250px !important;
        text-align: left;
    }
    .ketiga .kiri .table th {
        font-size: 10px !important;
    }
    .ketiga .kanan .table th {
        font-size: 10px !important;
    }
    .keempat .container {
        margin-top: 100px;
    }
    .keempat .container .table td {
        font-size: 15px !important;
        text-align: justify;
    }
    .kelima .container .table li {
        font-size: 15px !important;
    }
    .kelima .container .table .form-check {
        font-size: 15px !important;
    }
    #unduhan {
        font-size: 10px !important;
        margin-left: 30px;
        margin-top: -10px;
    }
    #unggahan {
        font-size: 10px !important;
        margin-left: 30px;
        margin-top: -10px;
    }
    .kelima {
        margin-top: -20px !important;
    }
    #warning {
        width: 60px;
    }
}
@media screen and (max-width: 575px) {
    .container {
        padding: 20px;
    }
    .pertama {
        margin-top: -150px !important;
    }
    .kedua {
        margin-top: 0px !important ;
    }
    .ketiga {
        margin-top: 0px;
    }
    .keempat .container {
        margin-top: 50px;
    }
    .kelima .container .table li {
        font-size: 12px !important;
    }
    .kelima .container .table .form-check {
        font-size: 12px !important;
    }
}
@media screen and (max-width: 500px) {
    .ketiga {
        margin-top: 0px;
    }
    .keempat .container {
        margin-top: 80px;
    }
    .copyright .text-center h6 {
        font-size: 10px;
        font-weight: 700;
    }
    .copyright .text-center a {
        font-size: 10px;
        font-weight: 700;
    }
    .copyright .text-center a img {
        font-size: 8px;
        width: 15px;
    }
}
@media screen and (max-width: 486px) {
    .kedua {
        margin-top: 100px !important;
    }
}
@media screen and (max-width: 414px) {
    .container .pertama {
        margin-top: 180px;
    }
    .kedua {
        margin-top: 100px !important;
    }
    .keempat .container {
        margin-top: 190px !important;
    }
    .container .container #btn-daftar {
        display: flex;
        justify-content: center !important;
    }
    .copyright .text-center h6 {
        font-size: 10px;
        font-weight: 700;
    }
    .copyright .text-center a {
        font-size: 10px;
        font-weight: 700;
    }
    .copyright .text-center a img {
        font-size: 8px;
        width: 15px;
    }
}
@media screen and (max-width: 395px) {
    .kedua .container {
        margin-top: 60px !important;
    }
    .keempat .container {
        margin-top: 380px !important;
    }
}
