body {
    font-family: "Montserrat", sans-serif;
    background-color: #f9f9f9 !important;
}
.bodyLeft {
    float: left;
    display: flex;
    width: 570px;
}
.bodyRight {
    display: flex;
    width: 950px;
    height: auto;
}
.kiri {
    width: 420px;
    height: 383px;
    margin-left: 150px;
    margin-top: 100px;
}
.kanan {
    width: 900px;
    height: max-content;
    margin-left: 90px;
    margin-top: 100px;
    margin-right: 100px;
}
.form {
    margin-left: 20px;
}
.rowFirstCardLeft {
    float: left;
    display: flex;
    width: 120px;
    height: 120px;
}
.rowFirstCardRight {
    float: left;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 240px;
    margin-left: 10px;
}
.name {
    font-size: 19px;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 600;
    display: block;
}
.nip {
    margin-top: 0px;
    font-weight: 300;
    margin-left: 10px;
    display: block;
}
.status {
    margin-top: 0px;
    font-weight: 300;
    margin-left: 10px;
    display: block;
}
.text-center {
    font-size: 18;
    font-weight: 400;
    margin-top: 100px;
    height: auto;
    background-color: #f5f4f4;
}
.card-title {
    font-size: 30px;
    font-weight: 700;
}

.bodyLeft .kiri {
    height: max-content;
}

.rowSecondCard {
    flex-direction: column;
}
.row.kumpulanIkon {
    margin-left: 20px;
}

.btn {
    background-color: #11543c;
    float: right;
    margin-top: 70px;
    width: 40%;
}
.btn:hover {
    background-color: #11543c;
}
.col-sm-6 {
    margin-top: 10px;
}
.form-control:focus {
    border-color: #11543c;
    box-shadow: 0px 1px 1px rgba(25, 135, 84, 0.075) inset,
        0px 0px 8px rgba(25, 135, 84, 0.5);
}
h6 {
    font-size: 16px;
    font-weight: 600;
}
a:link {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    color: inherit;
}

@media screen and (max-width: 767px) {
    .table {
        margin-right: 40px;
    }
}
