*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

main{
    min-width: 100vw;
    min-height: 100vh;
}

#left{
    width: 100%;
    max-width: 60%;
    background-image: url('../../assets/login-backgorund.png');
}

#left .group{
    max-width: max-content;
}

#left img{
    width: 100%;
    height: auto;
    max-width: 702px;
}

#left h1, #left h2{
    text-align: center;
}

#left h1{
    font-size: 40px;
}

#left h1{
    font-size: 3 0px;
}

#right{
    width: 40%;
    background: linear-gradient(146.14deg, #2FA36D 1.28%, #1E8DF4 148.28%);
    color: white;
    min-width: 410px;
}

#right .group{
    margin-top: 15px;
}

#right h1, #right h2{
    text-align: center;
    font-family: 'Prompt';
}

#right h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
}

#right h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 54px;
}

#right label{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

#right input{
    margin-top: 5px;
    height: 40px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 10px;
    color: white;
    border: none;
    border-bottom: 1.5px solid white;
    font-weight: 300;
    transition: 0.5s ease;
}

#right input:hover, #right input:focus{
    background-color: #0000002d;
}

#right p{
    margin-top: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(213, 246, 253, 1);
}

#right a{
    color: white;
    text-decoration: none;
}

#right button{
    margin-top: 63px;
    height: 35px;
    background: linear-gradient(90deg, #1F6EE4 -45.74%, #05B4DA 150.98%);
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

#mobile-img{
    display: none;
}

@media only screen and (max-width: 834px) {
    main{
        flex-direction: column;
        background: linear-gradient(146.14deg, #2FA36D 1.28%, #1E8DF4 148.28%);
    }

    #left, #right, #right form{
        max-width: none;
        width: 100%;
    }

    #left{
        flex-grow: 1;
        min-height: 336px;
        background-image: none;
    }

    #left .group{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #left h1, #left h2{
        color: white;
        font-family: 'Prompt';
    }

    #left h1{
        font-size: 25px;
    }
    
    #left h2{
        font-size: 18px;
        font-weight: 300;
    }

    #desktop-img{
        display: none;
    }

    img#mobile-img{
        display: block;
        height: auto;
        width: 50%;
        min-width: 119.76px;
    }

    #right{
        padding: 42px 35px;
        background: white;
        color: black;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }

    #right h1, #right h2{
        font-family: 'Ubuntu';
    }

    #right h1{
        font-size: 25px;
        line-height: 29px;
    }

    #right h2{
        font-weight: 300;
        font-size: 16px;
        color: #2DA175;
    }

    #right label{
        font-weight: 400;
    }

    #right input{
        color: #198754;
        border-bottom: 1px solid #198754;
    }

    #right input:hover, #right input:focus{
        background-color: #e8fff4;
    }

    #right p{
        color: black;
    }

    #right a{
        color: #198754;
    }
}