nav{
    position: sticky;
    z-index: 2;
    top: 0px;
    padding: 18px 56px;
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: ease-in 0.5s;
}

#logo{
    display: flex;
}

nav #logo h1{
    margin-left: 18px;
    font-weight: 600;
    font-size: 35px;
    display: flex;
    align-items: center;
}

#pages{
    display: flex;
}

nav ul#pages, nav ul#dropdown{
    list-style-type: none;
}

#pages li{
    margin-right: 21px;
    font-weight: 500;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color: black;
}

.selected{
    color: #198754 !important;
}

ul#dropdown{
    position: absolute;
    top: 90px;
    right: 58px;
    display: flex;
    flex-direction: column;
    padding: 5px 17px;
    background-color: white;
    width: 191px;
    border-radius: 5px;
    display: none;
}

ul#dropdown a{
    display: flex;
    padding: 5px 0;
}

ul#dropdown a img{
    margin-right: 13px;
}

ul#dropdown a:nth-child(0n+3){
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

ul#dropdown a:nth-child(0n+4){
    color: rgba(251, 0, 0, 0.5);
}

ul#dropdown #addition{
    position: absolute;
    top: -9px;
    right: 15px;
    z-index: 3;
}

/* For testing purpose only */

main img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

main{
    height: 150vh;
}

#toogle-white{
    display: none;
}