* {
    font-family: "Montserrat";
    /* border : 1px solid black; */
}

body {
    width: 100vw;
}

main {
    padding: 126px 50px;
    max-width: 100vw;
    min-height: 100vh;
}

main #left,
main #right {
    flex-grow: 1;
    height: max-content;
}

main #left {
    max-width: 445px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.11);
    background: rgba(255, 255, 255, 0.7);
}

#left #header {
    padding: 24px 22px;
    color: white;
    background-color: #11543c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#left ul {
    padding: 0px 0;
    height: 216px;
}

#left ul form {
    display: flex;
    flex-grow: 1;
}

#left img {
    max-width: 120px;
}

#left ul li {
    font-weight: 500;
    font-size: 19.8291px;
    line-height: 24px;

    color: #595959;
}

#left ul li.active {
    font-weight: 700;
}

#left ul a.log-out {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#left ul a.log-out:hover {
    background-color: #fb00001a;
}

#left ul a.log-out li {
    color: #fb0000;
}

#left ul a {
    padding: 0 21px;
    text-decoration: none;
    flex-grow: 1;
    transition: 0.5s ease;
}

#left ul a:hover {
    background-color: #1987542d;
}

#left ul span {
    font-size: 25px;
    margin-right: 21px;
}

#left #header img {
    margin-right: 15px;
}

#left #header .group h1 {
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
}

#left #header .group h2 {
    margin: 5px 0;
}

#left #header .group h2,
#header .group h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

#right {
    max-width: 735px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.11);
}

#right h1 {
    padding: 16px 30px;
    font-size: 27px;
    line-height: 33px;
    background-color: #11543c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
}

#right form {
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#right ul li {
    margin: 15px 0;
}

#right ul li label {
    width: 100%;
    max-width: 242px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

#right ul li input,
#right ul li select,
#right ul li textarea {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    border: none;
    border: 1px solid rgb(161, 161, 161);
    padding: 5px 10px;
    /* background-color: rgba(255, 255, 255, 0.52); */
    resize: none;
}

#right ul button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #11543c;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.11);
    margin: 20px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: 0.5s ease;
}

#right ul button:hover {
    background-color: rgba(41, 168, 109, 0.986);
}

main #water-mark {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

footer {
    color: white;
    padding: 50px 70px;
    padding-bottom: 0;
    background-color: #11543cda;
}

footer .col {
    width: 100%;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 20px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer #navigasi {
    box-sizing: border-box;
    margin: 0 100px;
    padding: 0 100px;
}

footer h3 {
    margin-bottom: 20px;
}

footer .row .col p {
    text-align: justify;
    color: white;
}

footer #icons {
    padding: 16px 10px;
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

footer #icons a {
    margin-right: 15px;
}

footer #hubungi-kami li {
    display: flex;
    align-items: center;
}

footer #hubungi-kami li img {
    margin-right: 20px;
}

#mini-text {
    padding: 37px 0;
    font-size: 15.4014px !important;
    text-align: center;
}

@media only screen and (max-width: 930px) {
    main {
        flex-direction: column;
        padding: 0;
    }

    #left,
    #right {
        border-radius: none;
        box-shadow: none;
    }

    #left #header,
    #left,
    #right h1,
    #right ul {
        border-radius: 0 !important;
    }

    #left #header,
    #left a {
        padding-left: 30px !important;
    }

    #left {
        max-width: none !important;
        max-height: max-content !important;
        margin-right: 0 !important;
        /* margin-bottom: 50px; */
        box-shadow: none !important;
    }

    #left img {
        width: 86px !important;
    }

    #left ul a li p,
    #right ul li h3,
    #right ul li p {
        font-size: 16px;
    }

    #right {
        max-width: none;
    }

    #right h1 {
        font-size: 20px;
    }

    #right ul li {
        align-items: flex-start;
        flex-direction: column;
    }

    #right ul li label {
        margin-bottom: 10px;
    }

    #right ul li h3 {
        width: 150px;
    }

    main img#water-mark {
        width: 50%;
    }

    footer #footer-container {
        flex-direction: column !important;
    }

    footer #navigasi {
        padding: 30px 0;
        margin: 0 !important;
        border: none;
    }

    #navigasi ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #navigasi ul li {
        margin-right: 10px;
    }

    #hubungi-kami ul,
    #navigasi ul {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    #hubungi-kami li {
        margin-right: 40px;
    }
}
